@model ElectoralSystem.Models.Candidate

@{
    ViewBag.Title = "complaint";
}

<h1>Submit a Complaint</h1>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<h2>Make A Complaint to ECP regarding @Model.assemblyType &nbsp; @Model.assemblyNo or in concern with other electoral processes</h2>
<div class="alert alert-info">
    <strong>Report/Complaint</strong> For any discrepancy or issues, Please lodge a Complaint below.
    <br />
    <br />
    <textarea rows="4" cols="100" name="complaint" placeholder=" Please write your complaint here. (Any dishonesty or mindful allegations will be dealt with according law suits.)"></textarea>
</div>
<div class="alert alert-danger">
    <input type="button" name="complaint" value="complaint" />
</div>
<dl class="dl-horizontal">
    <dt>
    </dt>

    <dd>
    </dd>

</dl>
</div>
<p>

</p>


